<div class="container">

  <div class="profile">

    <h3>About</h3>

    <div *ngIf="people">

      <div class="people" *ngIf="people.name"><span class="name">{{people.name}}</span><span *ngIf="people.age">, {{people.age}}</span><span></span></div>
      
      <p class="infected" *ngIf="people.infected">INFECTED</p>

      <p *ngIf="people.gender">{{people.gender | gender}}</p>

      <div class="identify">
        <button (click)="onIdentify()" [disabled]="itsMe">
          <span *ngIf="people.gender == 'M'">Im him?</span>
          <span *ngIf="people.gender == 'F'">Im her?</span>
        </button>
      </div>

      <app-inventory [id]="people.id" [its-me]="itsMe" [infected]="people.infected"></app-inventory>

      <div class="position">

        <p>
          <button (click)="onShowMap()" [disabled]="showMap">Show on map / Update location</button>
        </p>

        <div *ngIf="showMap">
          <app-map [last-position]="people.lastPosition" (position)="updatePosition($event)"></app-map>
        </div>

        <p *ngIf="showMap">
          <button (click)="onUpdate()">SAVE</button>
        </p>

      </div>

    </div>

  </div>

  <aside>
    <app-my-inventory [its-me]="itsMe"></app-my-inventory>
  </aside>

</div>