<div class="container">

  <div class="profile">

    <h2>About</h2>

    <div *ngIf="people">

      <b *ngIf="people.name">{{people.name}}<span *ngIf="people.age">, {{people.age}}</span></b>

      <div class="identify">
        <button (click)="onIdentify()" [disabled]="itsMe">It's me?</button>
      </div>

      <p *ngIf="people.gender">Gender: {{people.gender | gender}}</p>

      <app-inventory [id]="people.id"></app-inventory>

      <div class="position">

        <p>
          <button (click)="onShowMap()" [disabled]="showMap">Show on map / Update location</button>
        </p>

        <div *ngIf="showMap">
          <app-map [last-position]="people.lastPosition" (position)="updatePosition($event)"></app-map>
        </div>

        <p *ngIf="showMap">
          <button (click)="onUpdate()">SAVE</button>
        </p>

      </div>

    </div>

  </div>

  <aside *ngIf="!itsMe">
    <app-my-inventory [its-me]="itsMe"></app-my-inventory>
  </aside>

</div>