<div class="container">

  <h2>About</h2>

  <div *ngIf="people">

    <b>{{people.name}} profile</b>

    <div class="identify">
      <button (click)="onIdentify()" [disabled]="itsMe">It's me</button>
    </div>

    <p>Gender: {{people.gender}}</p>

    <p>Age: {{people.age}}</p>

    <div class="position">

      <p>
        <button (click)="onShowMap()" [disabled]="showMap">View in map / Update location</button>
      </p>

      <div *ngIf="showMap">
        <app-map [last-position]="people.lastPosition" (position)="updatePosition($event)"></app-map>
      </div>

      <p *ngIf="showMap">
        <button (click)="onUpdate()">SAVE</button>
      </p>

    </div>

  </div>

</div>