app-people {

  .profile {
    float: left;
    width: 80%;
  }

  app-inventory {
    display: block;
    margin-top: 30px;
  }

  aside {
    float: right;
    max-width: 20%;
    text-align: center;
  }

}