<div class="container">

  <h3>Survivor register</h3>

  <form (ngSubmit)="onSubmit(survivorForm)" #survivorForm="ngForm">

    <div class="field">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="nameModel" name="name" id="name" #name="ngModel" required/>
      <div class="alert" [hidden]="name.valid || name.pristine">Fill the name please</div>
    </div>

    <div class="field">
      <label for="age">Age</label>
      <input type="number" [(ngModel)]="ageModel" name="age" id="age" #age="ngModel" min="0" required/>
      <div class="alert" [hidden]="age.valid || age.pristine">Fill the age please</div>
    </div>

    <div class="field">
      <label for="gender">Gender</label>
      <select [(ngModel)]="genderModel" name="gender" id="gender" #gender="ngModel" required>
        <option *ngFor="let opt of genderOptions" [value]="opt.value">{{opt.name}}</option>
      </select>
      <div class="alert" [hidden]="gender.valid || gender.pristine">Select the gender</div>
    </div>

    <div class="field inventory">
      <div class="item" *ngFor="let opt of inventoryOptions; let i = index">
        <label>
          <div class="title">{{opt}}</div>
          <div class="value">
            <input type="number" [(ngModel)]="inventoryModel[i]" [name]="inventoryOptions[i]" id="inventoryOptions[i]" min="0" required/>
          </div>
        </label>
      </div>
    </div>
    <!-- .inventory -->

    <div class="field">
      <app-map (positionEvent)="updatePosition($event)"></app-map>
    </div>

    <p>
      <button type="submit" [disabled]="!survivorForm.form.valid || submitted">SAVE</button>
    </p>

  </form>


</div>