ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 20px;

    .name {
      font-weight: bold;
    }

    .total {
      // font-weight: bold;
    }

    .give {
      font-size: 0.8rem;
    }

    button {
      padding: 5px 15px;
      font-size: 14px;
      font-weight: bold;
    }

  }

}