<h3>My inventory</h3>
<small>Chose your items to deal</small>
<ul>
  <li>
    <div class="name">Ammunition</div>
    <div class="total">18</div>
    <div class="give">
      <button>-</button> 0 <button>+</button></div>
  </li>
  <li>
    <div class="name">Food</div>
    <div class="total">18</div>
    <div class="give">
      <button>-</button> 0 <button>+</button></div>
  </li>
  <li>
    <div class="name">Medication</div>
    <div class="total">18</div>
    <div class="give">
      <button>-</button> 0 <button>+</button></div>
  </li>
  <li>
    <div class="name">Water</div>
    <div class="total">18</div>
    <div class="give">
      <button>-</button> 0 <button>+</button></div>
  </li>
</ul>