<h3>Available items</h3>

<div class="item">
  <button disabled>
    <div class="name">Ammonition</div>
    <div class="total">10</div>
  </button>
</div>
<div class="item">
  <button>
    <div class="name">Food</div>
    <div class="total">10</div>
  </button>
</div>
<div class="item">
  <button disabled>
    <div class="name">Medication</div>
    <div class="total">10</div>
  </button>
</div>
<div class="item">
  <button disabled>
    <div class="name">Water</div>
    <div class="total">10</div>
  </button>
</div>