$gray0: #666;
$gray1: #ccc;
$brown0: brown;

@import './app/app.component';
@import './app/pages/new/new.component';
@import './app/pages/people/people.component';

html, body {
  margin: 0;
  color: $gray0;
  font-size: 13px;
  font-family: Verdana;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 5px;
}

form {
  .alert {
    font-size: 11px;
    color: darkorange;
  }

  .field {
    margin-bottom: 20px;
  }
}

main {
  padding-top: 30px;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background: white;
  border: 1px solid $gray1;
  cursor: pointer;

  &:not([disabled]):hover {
    border-color: $gray0;
  }
  
  &[disabled] {
    color: $gray1;
    cursor: initial;
  }
}